p + ul { margin-top: 1rem; }
ul + p { margin-top: 1rem; }

ol.num { list-style-type: revert;
         list-style-position: inside;
    margin-left: 1em;
    text-indent: -1em;
}

ol.num li {         padding-left: 1rem; }

h2 { margin-top: 2rem; margin-bottom: 2rem; }

ul {
    list-style-position: inside;
    margin-left: 3em;
    text-indent: -1.5em;
}

ul.contents { margin-left: 0; text-indent: 0; }

ul.action-rulebooks { list-style-type: disc; }

ul.bullet {
    list-style-type: disc;
    text-indent: 0;
}

li.npc {  list-style-type: "🎭"; }

span.list-entry { padding-left: .5em; }

li.rule {  list-style-type: "📏"; }
li.activity {  list-style-type: "🛠"; }

footer { margin-top: 5rem; }
.footing { padding-top: 3rem; }

h1.title { text-align: center; }

heading div.subtitle { margin-top: 1rem; text-align: center; }
code { font-size: .9375rem; }
