.bold { font-weight: bold; }
.image-frame {
display: flex;
    align-items: center;
    justify-content: center; }
  heading, .subtitle { text-align: center; }
  .subtitle { line-height: 1.2; margin-top: 1rem; }
  p + .image-frame, .image-frame + p { margin-top: 1rem; }
  img {margin: auto; }

  .addendum { border: .1rem solid currentColor; border-radius: 1rem;  }
  .add-header { padding-left: 1rem; border-bottom: .1rem solid currentColor; border-radius: 1rem 1rem 0 0; background-color: var(--testme-bg-color); font-weight: bold; padding-top: .5rem; padding-bottom: .5rem; }
  .add-body { margin-top: 1rem; margin-bottom: 1rem; border-radius: 0 0 1rem 1rem; }
  ul {
    list-style-position: inside;
    margin-left: 3em;
    text-indent: -1.5em;
    list-style-type: disc;
    text-indent: 0;
}
.codeblock + .codeblock { margin-top: 1rem; }
ol.num { list-style: decimal inside; }
div { border-radius: 1rem; }
.caps { text-transform: uppercase }
.codeline { padding-right: .25rem; }
.command { margin-left: 1rem; margin-right: 1rem; font-family: monospace; font-size: .9375rem; }

p + div, div + p { margin-top: 1rem; }

* + table { margin-top: 1rem; }
table + * { margin-top: 1rem; }

/* p + .command { margin-top: 1rem; } */

tr.action-stage > td { padding-top: .5rem; padding-bottom: .5rem; font-size: 1.25rem; }

.prompt { padding-right: .25rem; }

.game-output { background-color: var(--defn-line-bg-color); padding-top: .75rem; padding-bottom: .75rem; }
.sidebar { background-color: var(--indexbar-bg-color); margin-bottom: 2rem; padding-top: .5rem; padding-bottom: 1rem; margin-top: 2rem; }

/*.sidebar + .sidebar { margin-top: 0; }*/

/* p + .game-output, .game-output + p { margin-top: 1rem; } */
.game-output > p { margin-top: 0; }
.game-output > p:last-child { margin-bottom: 0; }
.game-output > p { line-height: 1.33; }
/*.game-output p + p { margin-top: 0; }*/

thead th { font-weight: bold; }

.sidebar > h4 { margin-left: 1em; margin-right: 1em; margin-top: .5rem; }
p { margin-left: 1em; margin-right: 1em; }
ol, ul { margin-left: 2.5em; text-indent: -1.5em; }
ol > li::before { content: '\2002'; } 
sidebar > p, blockquote > p { margin-left: 0em; margin-right: 0em; padding-left: 1em; padding-right: 1em; }

.disclaimer { margin-top: 1rem; }

.footnote + sidebar, p + sidebar { margin-top: 1.5rem; }
sidebar + p { margin-top: 1rem; }

/*.sidebar { margin-bottom: 1.5rem; }*/

/*body + p:first-child { margin-top: 1.5em; }

body + p:last-child { margin-bottom: 1.5em; }*/

/*.sidebar > p:first-child { margin-top: .5rem; }
.sidebar > p:last-child { margin-bottom: .5rem; }*/

p + ol, ol + p { margin-top: 1em; }
p + ul, ul + p { margin-top: 1em; }

ol > li + li { margin-top: 1em; }

td > p { width: revert; }

h2 { margin-top: 1.5rem; margin-bottom: 1.5rem; }

h3 { margin-top: 1rem; }
h3 { margin-bottom: 1rem; }

header > h1, header > h2 { text-align: center; }
header > h1 + h2 { margin-top: 0; }

body > footer { margin-top: 2rem; margin-bottom: 3rem; }
body > header { margin-top: 1rem; margin-bottom: 2rem; }
